body {
    background-image: url('/M:/Desarrollo web de workspace/prueba de trabajo/css/img/img06.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e98282;
}
.top-nav {
  background-color: #333;
  padding: 10px 0;
  text-align: center;
}

.top-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-nav ul li {
  display: inline;
  margin: 0 15px;
}

.top-nav ul li a {
  color: rgb(226, 119, 119);
  text-decoration: none;
  font-weight: bold;
}

.profile-card {
  max-width: 900px;
  margin: 40px auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 30px;
}

.profile-pic {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.info-text {
  flex-grow: 1;
}

.hello-badge {
  background-color: #f05a5c;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 10px;
}

.info-text h1 {
  margin: 0;
  font-size: 28px;
}

.info-text p {
  color: gray;
  margin-bottom: 15px;
}

.info-text ul {
  list-style: none;
  padding: 0;
}

.info-text ul li {
  margin-bottom: 8px;
}

.vacation-badge {
  background-color: #f05a5c;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 3px;
  display: inline-block;
  margin-top: 10px;
}

.social-links {
  text-align: center;
  margin-top: 20px;
  background-color: #f05a5c;
  padding: 10px 0;
}

.social-links a {
  margin: 0 15px;
  text-decoration: none;
  font-size: 24px;
  color: white;
}

.accordion {
    width: 120%; /* hace que se extienda más allá de su contenedor */
    margin-left: -10%; /* lo empuja hacia la izquierda */
}
.accordion-item {
    background-color: #f05a5c;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}